[서울시 상권분석서비스(추정매출-상권)> 데이터셋> 공공데이터 | 서울열린데이터광장](https://data.seoul.go.kr/dataList/OA-15572/S/1/datasetView.do)

In [ ]:
import pandas as pd
import koreanize_matplotlib

In [ ]:
df = pd.read_csv("data/서울시_상권분석서비스(추정매출-상권)_2022년.zip", encoding="cp949")
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.columns[:-6]

In [ ]:
# Melt the DataFrame
melted_df = df.melt(
    id_vars=['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명'],
    var_name='항목',
    value_name='값'
)
melted_df

In [ ]:
# Extract variables from 항목 column
melted_df['요일'] = melted_df['항목'].str.extract(r'^(월요일|화요일|수요일|목요일|금요일|토요일|일요일)')
melted_df['시간대'] = melted_df['항목'].str.extract(r'(시간대_\d{2}~\d{2})')[0].str.replace('시간대_', '')
melted_df['성별'] = melted_df['항목'].str.extract(r'(남성|여성)')
melted_df['연령대'] = melted_df['항목'].str.extract(r'연령대_(\d+|60_이상)')

# Fill NaN with appropriate values
melted_df['요일'] = melted_df['요일'].fillna('해당없음')
melted_df['시간대'] = melted_df['시간대'].fillna('해당없음')
melted_df['성별'] = melted_df['성별'].fillna('해당없음')
melted_df['연령대'] = melted_df['연령대'].fillna('해당없음')

# Drop the 항목 column
tidy_df = melted_df.drop(columns=['항목'])

# Display the tidy data
# import ace_tools as tools; tools.display_dataframe_to_user(name="Tidy Data with Variables", dataframe=tidy_df)

In [ ]:
tidy_df