[서울시 도시철도역사 지하상가 임대 현황> 데이터셋> 공공데이터 | 서울열린데이터광장](https://data.seoul.go.kr/dataList/OA-21305/S/1/datasetView.do)

In [ ]:
import pandas as pd
import numpy as np
import koreanize_matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("data/seoul-metro-rent.csv", encoding="cp949")
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df["월임대료원"] = df["월임대료"].str.replace(",", "").astype(float)
df["월임대료원"]

In [ ]:
df.describe().style.format("{:,.0f}")

In [ ]:
df.hist(bins=50);

In [ ]:
df

In [ ]:
df.nlargest(10, "월임대료원")

In [ ]:
df.nsmallest(10, "월임대료원")

In [ ]:
df["면적당임대료"] = df["월임대료원"] / df["면적(㎡)"]

In [ ]:
df.describe()

In [ ]:
df_sub = df[df["면적당임대료"].notnull() & (df["면적당임대료"] != np.inf )]
df_sub.describe()

In [ ]:
df_sub.hist(bins=50);

In [ ]:
df_sub.plot(kind="box")

In [ ]:
df.describe(include="object")

In [ ]:
df[df != np.inf].nlargest(10, "면적당임대료")

In [ ]:
df.nsmallest(10, "면적당임대료")

## 날짜

In [ ]:
df["계약시작일"] = pd.to_datetime(df["계약시작일"])
df["계약종료일"] = pd.to_datetime(df["계약종료일"])

In [ ]:
df["계약종료연도"] = df["계약종료일"].dt.year

### 계약기간

In [ ]:
df["계약기간"] = df["계약종료일"] - df["계약시작일"]

In [ ]:
df["계약기간"].describe()

In [ ]:
df.nlargest(10, "계약기간")

In [ ]:
df.nsmallest(10, "계약기간")

In [ ]:
station_price = df.groupby(["역명"])["월임대료원"].describe()
station_price

In [ ]:
station_price["mean"].nlargest(10).round(0)

In [ ]:
df["역명"].value_counts().nlargest(20)

In [ ]:
# ### 계약종료일을 참고해서 임대로 나올만한 상가 수가 어느정도 인지 찾아보고자 한다면?

In [ ]:
df["계약기간일"] = df["계약기간"].dt.days

In [ ]:
df[["계약시작일", "계약종료일", "계약종료연도", "계약기간일"]].hist(figsize=(12, 6), bins=30);

In [ ]:
station_expire = pd.crosstab(df["역명"], df["계약종료연도"])
station_expire

In [ ]:
sns.heatmap(station_expire, cmap="gray")

In [ ]:
station_expire[2026].max()

In [ ]:
# 특정연도
station_expire[2026].nlargest(10)

In [ ]:
df[df["역명"] == "잠실"]

In [ ]:
df["계약종료연도"].value_counts().sort_index()

In [ ]:
sns.countplot(data=df, x="계약종료연도")